$font-noto-normal: 'Noto-Sans-normal';
$font-noto-italic: 'Noto-Sans-italic';
$font-noto-bold: 'Noto-Sans-bold';
$font-aldrich-normal: 'Aldrich';
$font-bbc-md: 'BBCReithSans_W_Md';
$font-bbc-bd: 'BBCReithSerif_W_Bd';

$color-white: #FFF;
$color-silver: #C4C4C4;
$color-blue: #1652AC;
$color-woodsmoke: #020303;
$color-mako: #45494F;
$color-zirkon: #FBFDFF;
$color-selago: #FAFBFE;
$color-grey: #9EABBB;
$color-raven: #7C848D;
$color-science-blue: #004FC7;
$color-denim: #0C5CD6;
$color-dodger-blue: #2E75FF;
$color-carskill-white: #EAEDF5;
$color-athens-gray: #EDEFF3;

