.about {
    padding: 35px 0 0;

    @include respond-to(md) {
        display: flex;
        flex-direction: row-reverse;
    }

    &__img {
        @include respond-to(lg) {
            max-width: 675px;
        }

        &-wrapper {
            @include respond-to(md) {
                flex-basis: 50%;
                max-width: 50%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
        }
    }

    &__content {
        @include respond-to(md) {
            flex-basis: 50%;
            max-width: 50%;
        }

        @include respond-to(xl) {
            padding: 90px 0 100px;
        }
    }

    &__title {
        font-size: 18px;
        line-height: 222%;
        margin-bottom: 30px;

        @include respond-to(md) {
            text-align: left;
            max-width: 426px;
        }
    }

    &__text {
        margin-bottom: 40px;

        @include respond-to(md) {
            text-align: left;
            max-width: 570px;
        }
    }
}