.benefits {
    @include respond-to(md) {
        padding: 30px 0 60px;
    }

    @include respond-to(xl) {
        padding: 50px 0 80px;
    }

    @include respond-to(xxl) {
        padding: 70px 0 100px;
    }

    &__title {
        font-family: $font-noto-normal,sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 200%;
        letter-spacing: 4.42px;
        color: $color-woodsmoke;
        margin-bottom: 48px;
    }

    &__content {
        @include respond-to(md) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    }

    &__column {
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 16px;
        height: 136px;
        align-items: center;
        justify-content: space-evenly;
        
        @include respond-to(md) {
            width: 358px;
        }

        @include respond-to(lg) {
            width: 394px;
        }

        &-wrapper {
            padding: 4px 0;

            @include respond-to(md) {
                padding: 4px;
            }
        }
    }

    &__img {
        max-width: 64px;
    }

    &__text {
        width: 200px;
    }
}